.createHarvestContainer {
    min-height: calc(100svh - 13svh);
    margin-top: 13svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.createForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 13svh; */
    /* margin-bottom: 5rem; */
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.createFormInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: 40vw; */
    /* padding: 10px 20px; */
    border-radius: 10px;
    border: 1px solid #00000018;
    /* margin: 5px 10px; */
    /* box-shadow: 0 5px 5px #00000018; */
}

.inputField {
    width: 100%;
    max-width:40vw;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #00000018;
    margin: 5px 10px;
    box-shadow: 0 5px 5px #00000018;
    background-color: white;
}
.imageInput {
    width: calc(80vw + 20px);
    /* width: 40vw; */
    height: 100px;
    /* margin-right: 10px; */
    /* margin: 0 10px; */
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .createForm {
        flex-direction: column;
    }

    .createForm .inputField {
        max-width: 90vw;
    }
}