/* .image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10%;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.inner_container {
  width: 180px;
  height: 180px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
  padding: 10px;
  transition: transform 0.2s;
  & img{
    scale: .9;
  }
}

.inner_container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.outer_container {
  margin-top:1.5rem;
  height: 100vh;
  width: 100%;
  background-color: #53D258;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%; to maintain rounded corners
} */


/* .cropsCont {
  margin-top: 13svh;
  width: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropCard {
  width: 95%;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.cropCard img {
  width: 100%;
} */


.cropsCont {
  margin-top: 13svh;
  width: 100%;
  min-height: calc(100svh - 13svh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}


.cropCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  max-width: 1000px;
  padding: 20px;
  
}

.cropItem {
  color: black;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  margin: 20px;
}

.cropItem img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 20px;


}

@media only screen and (max-width: 768px) {
  .cropsCont {
    align-items: flex-start;
  }

  
  .cropItem {
    width: calc(39vw - 10px);
    height: calc(39vw - 10px);
    /* padding: 5px; */
    margin: 5px;
  }
}

@media only screen and (max-width: 346px) {
  .cropsCont {
    padding: 0;
  }
  .cropCard {
    padding: 0;
    border: 1px solid black;
  }
  
  .cropItem {
    /* width: 30vw;
    height: 30vw; */
    /* padding: 5px; */
    margin: 5px 1px;
    font-size: 5vw;
  }
  
}



