.newsD{
  margin-top: 13svh;
}

.newsD-App {
    text-align: center;
    font-size: 20px;
  }
  
  .newsD-container {
    width: 100%;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fafafa;
    padding: 20px;
     
    }
    
    
  
  .newsD-item {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .newsD-image-container {
    flex: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .n-details-container {
    flex: 1;
    padding-left: 20px; 
  }
  
  .newsD-details-h2 {
    margin-top: 0;
  }
  
  .newsD-details p {
    margin-bottom: 0;
  }
  
  .newsD-bg-container{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 540px;  
    border-radius:15px;
    background-color: #ffffff;
    z-index: -1;
  }

  @media screen and (max-width: 768px) {
    .newsD-item {
      flex-direction: column;
    }
  
    .n-details-container {
      width: 100%; 
      padding: 20px; 
      margin-top: 10px; 
    }
  
    .newsD-image-container {
      width: 100%; 
      margin-bottom: 10px; 
    }
  
    .newsD-image-container img {
      width: 100%; 
      height: auto; 
      border-radius: 5px; 
    }
  }
  
    
  
  